*{
    box-sizing: border-box;
    margin: 0;
    
}

html{
    font-size: 20px;
    margin: 0 auto;
    display: block;
}

:root{
    --color-claro: rgb(142, 228, 227);
    --color-oscuro:  rgb(210, 187, 37);
    --color-turquesa: #0085ba;
    --color-tangerine: #e37222bb;
    --color-teal: #07889b;
}

body{
    background-color: var(--color-claro);
    width: 100%;
    background-image: url(imgs/fondo-removebg-preview2.png);
    background-attachment: fixed;
    background-size: cover;
}

/* ---ENCABEZADO--- */

header{
    width: 100%;
    margin: 0 auto;
}

.titulo{
    background-color: rgba(210, 170, 37, 0.685);
    background-image:linear-gradient(to right,  rgb(210, 135, 37),  rgba(210, 170, 37, 0.4));
    margin-top: .5rem;
    padding-left: 10% ;
}

h1 span, h1 p {
    display: inline-block;
    text-align: left;
    
}

h1{
    font-family: 'Domine', serif;
    font-size: 2rem;
    padding: 1rem;
    word-break: break-all;    
}

h1 span{
    color:#0085ba;
    font-style: italic;
}

.invertido {
    transform: scale(-1, -1);
}

.logo{
    margin-left: 10%;    
    margin-top: .5rem;
    width: 12%;
    animation: show linear 2s forwards;
}
@keyframes show {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* ---CUERPO--- */

main{
    width: 80%;
    margin: .5rem auto;
    font-family: 'Montserrat', sans-serif; 
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    min-height: 70vh;
}

.entrada, .salida{
    padding: .5rem; 
    display: flex;
    flex-direction: column;  
}

.entrada{   
    background-image: linear-gradient(to right, rgba(142, 228, 227, 0.768),rgba(142, 228, 227));       
    justify-content: space-between;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}

.text-area{
    all: unset;
    overflow: hidden;
    resize: none;  
    height: auto;
    min-height: 80%;
    white-space: pre-wrap;
    padding: .3rem; 
    color: var(--color-tangerine);
    font-weight: bold;
    text-align: justify;
}

::placeholder{
    color: var(--color-tangerine);
    font-weight: bold;
}

.advertencia{
    font-size: .7rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.animation-show{
    animation: oscilate 0.3s ease-in-out infinite, grow 1s ease-in-out;
    animation-delay: 0s, 0s;
}  
  @keyframes grow {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(4);
      color: red;
    }
    50% {
      transform: scale(1);
    }
}

@keyframes oscilate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

 .botones{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    margin-left: .5rem;
  } 

.boton-entrada, .boton-copiar{
    border: none;
    border-radius: .5rem;   
    background-color: var(--color-tangerine);
    font-size: 1.2rem;
    width: 10rem;
    height: 2.2rem;
    margin-bottom: 1rem;
    transition: 600ms;
    cursor: pointer;
}  

.boton-entrada:hover, .boton-copiar:hover{
    filter: brightness(1.2);
    transform:scale(1.2);
}

.salida{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-claro);  
}

.espacio-salida{
    background-color:whitesmoke;
    width: 90%;
    height: auto;
    min-height: 70vh;
    border-radius: .5rem;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-principito{
    width: 100%; 
    left: 0;
    top: 0;
    height: 50vh;   
    background-image: url(imgs/principito.svg);    
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
} 

.mensaje{
    text-align: center;
    padding: 0 1rem;
}

.principal{
    font-size: 1.2rem;
}

.secundario{
    font-size: .8rem;
    margin-bottom: 2rem;
}

.no-mostrar{
    display: none;
}

.boton-copiar{
    padding-bottom: 0;
}